<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Alveolae - Admin Dashboard</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">    

        <!-- CSS files -->

        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/alveolae.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/font-awesome/css/font-awesome.css" rel="stylesheet">

        <!-- Google font -->
        <link href='//fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->	
    </head>

    <body>
        <!-- Navbar -->
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="index.html">Alveolae Dashboard</a>
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                            <li class="divider-vertical"></li>
                            <li><a href="index.html"><i class="icon-dashboard"></i>&nbsp;&nbsp;Return to Dashboard</a></li>
                            <li class="divider-vertical"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Navbar -->

        <div class="row">
            <!-- Login content -->
            <div id="login">
                <div id="main-header">
                    <h3>Login to your user account</h3>
                </div>

                <div id="login-content" class="clearfix">
                    <form action="login" action="accounts/login/" method="post">{% csrf_token %}
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="username"><i class="icon-user"></i>&nbsp;&nbsp;Username (or email address)</label>
                                <input type="text" name="username" placeholder="email" id="username">
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="password"><i class="icon-lock"></i>&nbsp;&nbsp;Password</label>
                                <input type="password" name="password" id="password">
                                <p class="pull-left"><a href="#"><i class="icon-key"></i>&nbsp;Password forgotten?</a></p>
                                <p class="pull-right">Don't have an account yet?&nbsp;&nbsp;<a href="#">Sign Up</a></p>
                            </div>
                        </fieldset>
                        <hr>
                        <div class="pull-left">
                            <label><input type="checkbox" value="I am a Physician"> I am a physician</label>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-success btn-large" type="submit"><i class="icon-magic"></i>&nbsp;&nbsp;Login</button>
                        </div>
                        
                        {% if form.errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                        {% endif %}
                    </form>
                </div>
            </div>
            <!-- /Login content -->
        </div>

        <!-- Javascript files -->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script src="js/bootstrap.js"></script>

    </body>
</html>
