.popupElement {
	display: none;
}
.discolor{
	background-color:#DDDDDD !important;
	color:#BDBDBD !important;
}
.discolor i{
	color:#BDBDBD !important;
}
#sidebar.affix {
	position: fixed;
	top: 150px;
	width:20%;
	max-width:268px;
}
.cube{
	background-color:whitesmoke;
	border-radius:0px;
	text-align:center;
	min-height:80px !important;
	margin-bottom:5px;


}
.cube .span12{
	padding-top:5px;            
}
.cube a div{
	min-height:85px !important;
	padding-top:15px;
	color:#4A515B;
}
input.dial{
	box-shadow:none;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.2);

}
input.dial:focus{
	box-shadow:none;    
}
.scrollToTop{
	width:40px; 
	height:40px;
	padding:10px;

	text-align:center; 

	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	bottom:30px;
	right:20px;
	display:none;

}
.scrollToTop:hover{
	text-decoration:none;
}
.newkado{
	width:59px;
	height: 59px;
	border-radius: 50%;
	border:8px solid #ffc421; 
	text-align:center;
	margin-left:auto;
	margin-right: auto;
	margin-top:5px;                
}
.newkado p{
	line-height: 57px;
	vertical-align:middle;
	font-weight:800 ;
	text-shadow:0px 0px 1px grey ;
	font-size:19px;    
}
input[readonly]{
	cursor: default;
}
.rightbox input {
	color: black !important;
}
.cube
{
	height: 83px
} 

#time-range p {
	font-family:"Arial", sans-serif;
	font-size:14px;
	color:#333;
}
.ui-slider-horizontal {
	height: 8px;
	background: rgb(56, 155, 232);
	border: 1px solid #BABABA;
	box-shadow: 0 1px 0 #FFF, 0 1px 0 #CFCFCF inset;
	clear: both;
	margin: 8px 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	width: auto;
	/*margin-left: 10px;*/
	margin-right: 20px;

}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider-horizontal .ui-slider-range {
	top: -1px;
	height: 100%;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	height: 8px;
	font-size: .7em;
	display: block;
	border: 1px solid #5BA8E1;
	box-shadow: 0 1px 0 #AAD6F6 inset;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	background: #81B8F3;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #A0D4F5), color-stop(100%, #81B8F3));
	background-image: -webkit-linear-gradient(top, #A0D4F5, #81B8F3);
	background-image: -moz-linear-gradient(top, #A0D4F5, #81B8F3);
	background-image: -o-linear-gradient(top, #A0D4F5, #81B8F3);
	background-image: linear-gradient(top, #A0D4F5, #81B8F3);
}
.ui-slider .ui-slider-handle {
	border-radius: 50%;
	background: #F9FBFA;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C7CED6), color-stop(100%, #F9FBFA));
	background-image: -webkit-linear-gradient(top, #C7CED6, #F9FBFA);
	background-image: -moz-linear-gradient(top, #C7CED6, #F9FBFA);
	background-image: -o-linear-gradient(top, #C7CED6, #F9FBFA);
	background-image: linear-gradient(top, #C7CED6, #F9FBFA);
	width: 22px;
	height: 22px;
	-webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
	-moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
	box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
	-webkit-transition: box-shadow .3s;
	-moz-transition: box-shadow .3s;
	-o-transition: box-shadow .3s;
	transition: box-shadow .3s;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 22px;
	height: 22px;
	cursor: default;
	border: none;
	cursor: pointer;
}
.ui-slider .ui-slider-handle:after {
	content:"";
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	top: 50%;
	margin-top: -4px;
	left: 50%;
	margin-left: -4px;
	background: #30A2D2;
	-webkit-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
	-moz-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 white;
	box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.5em;
	margin-left: -.6em;
}
.ui-slider a:focus {
	outline:none;
}

.InterviewModal.fade.in
{
	position: fixed;
	top: 38px;
	left: 0px;
	margin: 0;
	width: 80%;
	height: auto;
	display: block;
	margin-left: 10%;
}

.InterviewModal.modal
{
	margin: -3550px 0 0 -3260px;
}
.InterviewQuestion{
	border: 0px solid #E2AC00;
	text-align: center;
	border-top-width: 0px;
	margin-bottom: 20px;
	border-bottom-right-radius: 10px;
	box-shadow: 0px 0px 0px #BDBDBD;
}

.InterviewQuestion p{
	font-weight: bold;
	text-align: left;
	padding-top: 10px;
	font-size: 15px;
	/*padding-left: 20px;*/
	border-top: 1px solid #ddd;

}

.InterviewQuestion p:first-child
{
	border-top: 0px solid #ddd;
}
.readonlyActive
{
	background-color: #fff !important;
}

li.DIdrugOptions
{
	text-align: left;
	list-style: none;
	height: 30px;
	font-weight: bold;
	border-bottom: 0px solid #ddd;
	/*margin-top: 5px;*/
	/*padding-bottom: 6px;*/

}
.DIdrugOptions .switch, .DIdrugOptions .drugoption
{
	/*float: left;*/
	/*margin-left: 16px*/

}
img.levelImg {
	max-height: 100%;
	max-width: 50%;
	margin-top: 0%;
}
.kadolevelBOX
{
	/* margin-top: 6%; */
	height: 100%;
	display: block;
	font-weight: bold;
	font-size: 26px;
	padding: 5px;
	box-sizing: border-box;
}
.kadoLbox
{
	display: inline-block;
}
.kadoTxt
{
	font-size: 12px;
	display: block;
}

@media (min-width: 767px) and (max-width: 979px)
{
	.kadoTxt {
		font-size: 9px;
	}
	img.levelImg {
		max-width: 32%;
	}
}
@media (min-width: 979px)
{
	img.levelImg {
		max-height: 100%;
		max-width: 35%;
	}
}


.kadoswitch input[type="radio"]+.fa-stack .fa-check
{
	display: none;
	color: #41AD48;
}

.kadoswitch input[type="radio"]+.fa-stack .fa-times
{
	display: block;
}

.kadoswitch input[type="radio"]:checked+.fa-stack .fa-check
{
	display: block;
}

.kadoswitch input[type="radio"]:checked+.fa-stack .fa-times
{
	display: none;
}

.kadoswitch
{
	/*float: left;*/
	cursor: pointer;
	border-bottom: 1px solid #E5E5E5;
	background: #FBFBFB;
}
.DIdrugOptions:first-child .kadoswitch
{
	
	border-top: 1px solid #E5E5E5;
}

.kadoswitch .fa-stack
{
	top:-2px;
}

.kadoswitch input.drugInterviewBtn {
	position: absolute;
	left: -10000px;
}
span.drugoption {
	color: #000;
}