<!--Contains code for admin logs-->
{% extends "dashboard/adminLayout.html" %}
{% load url from future %}
{% block content %}

<div class="span9">
    <div class="row-fluid" style="padding-top:27px;margin-bottom:5px;">
        <div class="span12">
            <div class="newbreadcrumb flat">
                <a href="{% url 'adminTreatList' %}" >Admin</a>
                <a class="active">Logs</a>

            </div>

        </div>
    </div>



    <div class="widget" style="padding-bottom:0px;">	
        <div class="widget-header">			
            <h3>SiteLog</h3>
        </div>		
        <div class="widget-content">
            <div class="row-fluid">
                <table class="footable table-bordered" >
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Activity</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in page.object_list %}
                        <tr>
                            <td>{{log.0}}</td>
                            <td>{{log.3}} - {{log.1}}</td>
                            <td>{{log.2}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% if paginator.num_pages > 1 %}
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                {% include 'dashboard/pagination.html' %}
                            </td>
                        </tr>

                    </tfoot>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block bottomScripts %}
{% endblock %}
