{% extends "dashboard/adminLayout.html" %}  
{% block page_id %}Seupload{% endblock %}
{% load templateUtils %} 
{% block content %}
<input id="csrf_token" type="hidden" value="{{csrf_token}}">
<div class="span9">
    <div class="row-fluid ">
        <div class=" span12" style="padding-top:27px;border-radius:5px;">
            <div class="row-fluid">
                <div class="newbreadcrumb flat">
                    <a href="/admin/treatment/list/">Admin</a>
                    <a href="#" class="active">Side Effect CTCAE</a>
                </div>

            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="widget">
            <div class="widget-header">
                <h3> CTCAE xlx Upload</h3>
            </div>
            <div class="widget-content" style="padding:10px;overflow: hidden;">
                <h5>Import Side-effects</h5>
                <form enctype="multipart/form-data" name="uploadForm" action="/adminmongoupdation/" method="POST">{% csrf_token %}
                    <div id="upBtn" class="btn btn-warning" onclick="getFile()">Upload CTCAE XLX file.</div>

                    <div style='height: 0px;width: 0px; overflow:hidden;'>
                        <input id="upfile" type="file" name="excel" value="upload" onchange="sub(this)"/></div>
                    <p>* Only <strong>XLX</strong> files are supported.</p>
                    {% if success %}
                    <div class="alert alert-success"><p> File uploaded successfully.</p> </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

</div> 
{% endblock %}      

{% block bottomScripts %}
<script src="{{ STATIC_URL }}js/FooTable-2/js/footable.js"></script>
<script src="{{ STATIC_URL }}js/FooTable-2/js/footable.sort.js" type="text/javascript"></script>
<script type="text/javascript">
                            $(function() {
                                $('table').footable();
                                $('table').trigger('footable_initialized');
                            });
</script>

<script type="text/javascript">
    function getFile() {
        if (!$("#upBtn").hasClass("disabled"))
        {
            document.getElementById("upfile").click();
        }
    }
    function sub(obj) {
        var file = obj.value;
        var fileName = file.split("\\");
        document.getElementById("upBtn").innerHTML = "Uploading..." + fileName[fileName.length - 1];
        $("#upBtn, #upfile").addClass("disabled");
        document.uploadForm.submit();
        event.preventDefault();
    }
    $(document).ready(function() {
        $(".footable").css("opacity", "1");
    });
</script>
{% endblock %} 
