<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Cankado Dashboard</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">    

        <!-- CSS files -->

        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/alveolae.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/fa/css/font-awesome.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/conkado/style.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
         <!-- favicon -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}img/apple-touch-icon-144-precomposed.png">
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">   
        <!--[if lt IE 9]>
          <script src="{{ STATIC_URL }}/js/html5.js"></script>
          <script src="{{ STATIC_URL }}/js/selectivizr.js"></script>
          <script src="{{ STATIC_URL }}/js/css3-mediaqueries.js"></script> 
          <script type="text/javascript" src="{{ STATIC_URL }}/js/PIE.js"></script>             
        <![endif]-->

        	
    </head>

    <body>
        <div id="wrap"> 	
            <!-- Navbar -->
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="/"><img src="{{ STATIC_URL }}img/logo.png" style="height:21px; margin-left: 25px">Can<strong>Kado</strong></a>
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right" style="margin-right: 25px">
                                <li><a  href="/accounts/login" ><strong>Anmelden</strong> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Navbar -->
            {% load url from future %}

            <!-- Login content -->

            <div class="row-fluid" style="padding-top:60px; ">
                <div class="span4"></div>

                <div id="login-content" class="span4">
                    <h3 style="text-align:center;">Geben Sie Ihren Benutzernamen</h3>
                    
                    <form action="{% url 'password-reset' %}" method="post">{% csrf_token %}
                        <center>  
                            <input type="text" name="username" id="username"><br>
                            <button type="submit" class="btn btn-info" id="mailBtn">Kennwort zurücksetzen</button>   
                            {% if sent %}
                                <input type="hidden" name="resend_username" value="{{username}}">
                            {% endif %} 
                        </center>

                    </form>
                    {% if sent %}
                    <div class="alert alert-success">
                       Regeneration des Kennworts Link wurde an Ihre eingetragene E-Mail-ID gesendet wurde.
                    </div>
                    {% endif %}
                    {% if empty_username %}
                    <div class="alert alert-danger">
                        Benutzername darf nicht leer sein.
                    </div>
                    {% endif %}

                </div>
                <div class="span4"></div>
            </div>

            <!-- /Login content -->

            <div id="push"></div>
        </div><!-- wrap end -->
        <!-- Footer -->
        <div id="footer" style="padding-top:6px;">
            <p class="pull-right"  style="margin-right:100px;">Cankado &copy; 2014</p>
        </div>
        <!-- Javascript files -->
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
        {% if sent %}
        <script>
            $('#username').hide();
            $('#mailBtn').html('Mail erneut senden');
        </script>
        {% endif %}
        {% if resend %}
        <script>
            $('#mailBtn').hide();
        </script>
        {% endif %}
    </body>
</html>
