{% extends "dashboard/pharmacistLayout.html" %}
{% block custom_css %}
{% endblock %}
{% load templateUtils %}
{% load poll_extras %}
{% load url from future %}
{% block page_id %}{% if treatment.status == 'apr' %}approved{% elif treatment.status == 'w' %}pending{% elif treatment.status == 'dec' %}declined{% elif treatment.status == 'arc' %}archived{% endif %}{% endblock %}
{% block content %}
<div class="span9">	

    <div class="row-fluid" style="padding-top:27px;">
        <div class="span12">
            {% with status=treatment|getCurrentStatusAuditor %}
            <div class="newbreadcrumb flat">
                <a href="{% url 'auditor:dashboard' %}">Treatment List</a> 
                <a href="{{status.url}}">{{status.status}} Treatments</a>
                <a class="active">{{treatment.name}}</a>                              
            </div>
            {% endwith %}
        </div>
    </div>	
    <div class="row-fluid tlistnew logohead" >
        <div class="row-fluid">
            <div class="span2">
                <img src="{{user.pharma.logo}}" alt="" class="logoimg">
            </div>
            <div class="span6">
                <h3>{{user.pharma.company}}</h3>
                <h5>{{user.username}}</h5>
            </div>
            <div class="span4" style="margin-top:10px;">
                <div class="row-fluid infbox">
                    <div class="span8"><p class="pull-right">Pending Treatments  :</p></div><div class="span4"> <span class="badge badge-warning">{{user.getPendingTreatment}}</span> <br></div>
                </div>
                <div class="row-fluid infbox">
                    <div class="span8"><p class="pull-right">Approved Treatments :</p></div><div class="span4"> <span class="badge badge-success">{{user.getApprovedTreatment}}</span> </div>
                </div>
                <div class="row-fluid infbox">
                    <div class="span8"><p class="pull-right">Declined Treatments :</p></div><div class="span4"> <span class="badge badge-important">{{user.getDeclinedTreatment}}</span></div>
                </div>
                <div class="row-fluid infbox">
                    <div class="span8"><p class="pull-right">Archived Treatments :</p></div><div class="span4"> <span class="badge badge-inverse">{{user.getArchivedTreatment}}</span></div>
                </div>
            </div>
        </div>
    </div>

    {% if approved %}
    <br>
    <div class="alert alert-success">
        <button class="close" data-dismiss="alert">&times;</button>
        Treatment approved <img src="{{STATIC_URL}}img/accept.png" alt="">
    </div>
    {% endif %}

    {% if declined %}
    <br>
    <div class="alert alert-danger">
        <button class="close" data-dismiss="alert">&times;</button>
        Treatment declined <img src="{{STATIC_URL}}img/delete.png" alt="">
    </div>
    {% endif %}


    <h1 class="page-title">{{treatment.name}}
    </h1>
    {% if treatment.revision %}
    <div class="alert alert-info">
        This treatment is a revision of <a href="/auditor/view/old/treatment/{{treatment.revision.id}}/">{{treatment.revision}}.</a>
    </div>
    {% endif %}

    <hr>

    <!-- ============================= Treatment Details widget start ============================= -->
    {% include 'dashboard/treatmentDetailsEnglish.html' %}
    <!-- ============================= Treatment Details widget end ============================= -->
    <div class="widget" style="padding-bottom:0px;">    
        <div class="widget-header">         
            <h3>Intake Recommendation</h3>
        </div>      
        <div class="widget-content">
            <div class="row-fluid">
                <form class="form-horizontal span12 ">
                    <input type="hidden" id="csrf" value="{{csrf_token}}">
                    <div class="control-group">
                        <label class="control-label"><strong>Recommendation</strong></label>
                        <div class="controls">
                            <textarea id="recommendation" readonly="true" rows="8" style="width:97%;resize:none;border: 1px solid #ddd;">{{treatment.recommendation|default:''}}</textarea>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="widget" style="padding-bottom:0px;">	
        <div class="widget-header">			
            <h3> Audit</h3>
        </div>		
        <div class="widget-content">
            <div class="row-fluid">


                <form class="form-horizontal span12 " method="POST" id="treatmentApproveForm">
                    {% csrf_token %}
                    <div class="control-group">
                        <label class="control-label"><strong>Admin Comment</strong></label>
                        <div class="controls">
                            <textarea name="comment" rows="8" style="width:97%;resize:none;border: 1px solid #ddd;" {% if not treatment.status == 'w' %}disabled{% endif %}>{{treatment.getPharmacistTreatmentAprvDecComment|default:' '}}</textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><strong>&nbsp;</strong></label>
                        <div class="controls">
                            {% if treatment.status == 'w' and treatment.revision %}
                            <a class="btn btn-small btn-info approveBtn" style="margin-right: 20px" href="/auditor/approve/confirm/revision/{{treatment.id}}/"><i class="fa fa-check-circle "></i> Approve Revision</a>
                            <a class="btn btn-small btn-danger declineBtn" style="margin-right: 20px" href="/auditor/decline/confirm/revision/{{treatment.id}}/"><i class="fa fa-times "></i> Decline Revision</a>
                            <button class="btn btn-small" type="reset" style="margin-right: 20px;" > cancel</button>
                            {% elif treatment.status == 'w' %}
                            <a class="btn btn-small btn-info approveBtn" style="margin-right: 20px;" href="/auditor/approve/treatment/{{treatment.pk}}/"><i class="fa fa-check-circle "></i> Approve</a>
                            <a class="btn btn-small btn-danger declineBtn" style="margin-right: 20px;" href="/auditor/decline/treatment/{{treatment.pk}}/"><i class="fa fa-times "></i> Decline</a>
                            <button class="btn btn-small" type="reset" style="margin-right: 20px;" > cancel</button>
                            {% endif %}

                        </div>
                    </div>



                </form>

            </div>
        </div>
    </div>

</div>
{% endblock %}	 
{% block bottomScripts %}
<script>
    $('.approveBtn, .declineBtn').click(function(e)
    {
        e.preventDefault();
        $('#treatmentApproveForm').attr('action', $(this).attr('href'));
        $('#treatmentApproveForm').submit();
    });


//    $(document).ready(function() {
//        $(".comments").css("display", "none");
//        $(".cmntmini").hide();
//    });
//    $(".cmntmini").click(function() {
//        $(this).parents(".unitblock").find(".comments").slideToggle();
//    });
//    $('.drugCmtBtn').click(function(e) {
//        e.preventDefault();
//        var btn = $(this);
//        var comment = $(this).parents(".unitblock").find(".drugCmt").val();
//        var drug = $(this).attr('drug');
//        $.post("/pharmacist/drug/comment/", {csrfmiddlewaretoken: '{{csrf_token}}', comment: comment, drug: drug})
//                .done(function(data) {
//                    if (data === 'comment') {
//                        bootbox.alert('Bitte geben Sie die Kommentar!');
//                        return;
//                    }
//                    if (data === 'error') {
//                        bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
//                        return;
//                    }
//                    bootbox.alert("Kommentar wurde erfolgreich gespeichert! <img src='{{STATIC_URL}}img/accept.png' alt=''>");
//                    btn.parents(".unitblock").find(".comments").slideToggle();
//                })
//                .fail(function() {
//                    bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
//                });
//    });
//
//    $('.seCmtBtn').click(function(e) {
//        e.preventDefault();
//        var btn = $(this);
//        var comment = $(this).parents(".unitblock").find(".seCmt").val();
//        var se = $(this).attr('se');
//        $.post("/pharmacist/sideeffect/comment/", {csrfmiddlewaretoken: '{{csrf_token}}', comment: comment, se: se})
//                .done(function(data) {
//                    if (data === 'comment') {
//                        bootbox.alert('Bitte geben Sie die Kommentar!');
//                        return;
//                    }
//                    if (data === 'error') {
//                        bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
//                        return;
//                    }
//                    bootbox.alert("Kommentar wurde erfolgreich gespeichert! <img src='{{STATIC_URL}}img/accept.png' alt=''>");
//                    btn.parents(".unitblock").find(".comments").slideToggle();
//                })
//                .fail(function() {
//                    bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
//                });
//    });
//
//    $('.twikiCmtBtn').click(function(e) {
//        e.preventDefault();
//        var btn = $(this);
//        var comment = $(this).parents(".unitblock").find(".twikiCmt").val();
//        var twiki = $(this).attr('wiki');
//        $.post("/pharmacist/treatmentwiki/comment/", {csrfmiddlewaretoken: '{{csrf_token}}', comment: comment, twiki: twiki})
//                .done(function(data) {
//                    if (data === 'comment') {
//                        bootbox.alert('Bitte geben Sie die Kommentar!');
//                        return;
//                    }
//                    if (data === 'error') {
//                        bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
//                        return;
//                    }
//                    bootbox.alert("Kommentar wurde erfolgreich gespeichert! <img src='{{STATIC_URL}}img/accept.png' alt=''>");
//                    btn.parents(".unitblock").find(".comments").slideToggle();
//                })
//                .fail(function() {
//                    bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
//                });
//    });
//
//    $('.sewikiCmtBtn').click(function(e) {
//        e.preventDefault();
//        var btn = $(this);
//        var comment = $(this).parents(".unitblock").find(".sewikiCmt").val();
//        var sewiki = $(this).attr('wiki');
//        $.post("/pharmacist/sideeffectwiki/comment/", {csrfmiddlewaretoken: '{{csrf_token}}', comment: comment, sewiki: sewiki})
//                .done(function(data) {
//                    if (data === 'comment') {
//                        bootbox.alert('Bitte geben Sie die Kommentar!');
//                        return;
//                    }
//                    if (data === 'error') {
//                        bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
//                        return;
//                    }
//                    bootbox.alert("Kommentar wurde erfolgreich gespeichert! <img src='{{STATIC_URL}}img/accept.png' alt=''>");
//                    btn.parents(".unitblock").find(".comments").slideToggle();
//                })
//                .fail(function() {
//                    bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
//                });
//    });
//
//    $('.setypeCmtBtn').click(function(e) {
//        e.preventDefault();
//        var btn = $(this);
//        var comment = $(this).parents(".unitblock").find(".setypeCmt").val();
//        var setype = $(this).attr('type');
//        $.post("/pharmacist/sideeffecttype/comment/", {csrfmiddlewaretoken: '{{csrf_token}}', comment: comment, setype: setype})
//                .done(function(data) {
//                    if (data === 'comment') {
//                        bootbox.alert('Bitte geben Sie die Kommentar!');
//                        return;
//                    }
//                    if (data === 'error') {
//                        bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
//                        return;
//                    }
//                    bootbox.alert("Kommentar wurde erfolgreich gespeichert! <img src='{{STATIC_URL}}img/accept.png' alt=''>");
//                    btn.parents(".unitblock").find(".comments").slideToggle();
//                })
//                .fail(function() {
//                    bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
//                });
//    });
//
//            $('.sewikiCmtBtn').click(function(e) {
//        e.preventDefault();
//        var btn = $(this);
//        var comment = $(this).parents(".unitblock").find(".sewikiCmt").val();
//        var sewiki = $(this).attr('wiki');
//        $.post("/pharmacist/sideeffectwiki/comment/", {csrfmiddlewaretoken: '{{csrf_token}}', comment: comment, sewiki: sewiki})
//                .done(function(data) {
//                    if (data === 'comment') {
//                        bootbox.alert('Bitte geben Sie die Kommentar!');
//                        return;
//                    }
//                    if (data === 'error') {
//                        bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
//                        return;
//                    }
//                    bootbox.alert("Kommentar wurde erfolgreich gespeichert! <img src='{{STATIC_URL}}img/accept.png' alt=''>");
//                    btn.parents(".unitblock").find(".comments").slideToggle();
//                })
//                .fail(function() {
//                    bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
//                });
//    });
//
//    $('.setypeCmtBtn').click(function(e) {
//        e.preventDefault();
//        var btn = $(this);
//        var comment = $(this).parents(".unitblock").find(".setypeCmt").val();
//        var setype = $(this).attr('type');
//        $.post("/pharmacist/sideeffecttype/comment/", {csrfmiddlewaretoken: '{{csrf_token}}', comment: comment, setype: setype})
//                .done(function(data) {
//                    if (data === 'comment') {
//                        bootbox.alert('Bitte geben Sie die Kommentar!');
//                        return;
//                    }
//                    if (data === 'error') {
//                        bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
//                        return;
//                    }
//                    bootbox.alert("Kommentar wurde erfolgreich gespeichert! <img src='{{STATIC_URL}}img/accept.png' alt=''>");
//                    btn.parents(".unitblock").find(".comments").slideToggle();
//                })
//                .fail(function() {
//                    bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
//                });
//    });


</script>
{% if cancelled_approval_request %}
<script type="text/javascript">
    bootbox.alert('This request is cancelled');
</script>
{% endif %}
{% endblock %}