{% extends "dashboard/pharmacistLayout.html" %}
{% block custom_css %}
{% endblock %}
{% load templateUtils %}
{% block content %}
<div class="span9">	
<div class="container-fluid">	
	<div class="row-fluid" style="padding-top:27px;">
            <div class="span12">
                <div class="newbreadcrumb flat">
                    <a href="{% url 'auditor:dashboard' %}" >Treatment List</a> 
                    <a href="#" >Treatment</a>                              
                </div>        
               
            </div>
        </div>	
        <div class="row-fluid tlist">
          <div class="row-fluid">
              <div class="span2">
                  <img src="{{user.pharma.logo}}" alt="">
              </div>
              <div class="span6">
              	<h3>{{user.pharma.company}}</h3>
              </div>
              <div class="span4">
              	{{user.userprofile.first_name}} <br>
              	Approved Treatments : <span class="badge">{{user.getApprovedTreatment.count}}</span> <br>
              	Pending Treatments  : <span class="badge">{{user.getPendingTreatment.count}}</span> <br>
              	Declined Treatments : <span class="badge">{{user.getDeclinedTreatment.count}}</span>
              </div>
          </div>
      	</div>

      {% if approved %}
      	<br>
				<div class="alert alert-success">
					<button class="close" data-dismiss="alert">&times;</button>
					Treatment approved <img src="{{STATIC_URL}}img/accept.png" alt="">
				</div>
			{% endif %}
			<div class="row-fluid tlist">
				<div class="row-fluid">
					<h4>{{treatment.getPharmacistTreatmentName}}
					{% if treatment.getRevisionStatus %}
						{% if not treatment.getRevisionStatus.draft %}
						{% if not treatment.getRevisionStatus.approved %}
						<a class="btn btn-small btn-info pull-right approveBtn" style="margin-right: 20px" href="/pharmacist/approve/confirm/revision/{{treatment.id}}/"><i class="fa fa-check-circle "></i> Approve Revision</a>
							<a class="btn btn-small pull-right declineBtn" style="margin-right: 20px" href="/pharmacist/decline/confirm/revision/{{treatment.id}}/"><i class="fa fa-times "></i> Decline Revision</a>
						{% endif %}
						{% endif %}
					{% endif %}
					</h4>
				</div>
				<hr>
				<div class="row-fluid">
					<div class="span12 ">
						
						<h5>Drugs</h5>
						{% for drug in treatment|getDrugs %}
						<div class="row-fluid unitblock">
							<div class="span12">
								<p>Drug Name: {{drug.0.drugname}} - {% if drug.0.timeNotRequired %}Ganzer Tag{% else %}{{drug.0.time|time:'H:i'}}{% endif %}</p>
							</div>
							<div class="span2 offset10">
								<button class="btn btn-mini cmntmini"><i class="fa fa-comments"></i> Comment</button>
							</div>
							<div class="row-fluid">
								<div class="span12  comments">
									<textarea class="span12 drugCmt"  style="height:105px;">{% for comment in drug.0.drugname.drugcomment_set.all %}{{comment.comment}}{% endfor %}</textarea>
									<button class="btn  cmtbtn pull-right btn-info btn-small drugCmtBtn" drug="{{drug.0.drugname.id}}"><i class="fa fa-check-circle "></i> Add Comment</button>
								</div>
							</div>
						</div>
						{% empty %}
						<div class="alert alert-info">No Drugs added.</div>
						{% endfor %}
						<hr>
						<h5>Side Effects</h5>
						{% for seData in treatment.sideeffect_set.all %}
						<div class="row-fluid unitblock">
							<div class="span12">
								<p>Sideeffect: {{seData.sideeffect}}</p>
							</div>
							<div class="span2 offset10">
								<button class="btn btn-mini cmntmini"><i class="fa fa-comments"></i> Comment</button>
							</div>
							<div class="row-fluid">
								<div class="span12  comments">
									<textarea class="span12 seCmt"  style="height:105px;">{% for comment in seData.sideeffectcomment_set.all %}{{comment.comment}}{% endfor %}</textarea>
									<button class="btn  cmtbtn pull-right btn-info btn-small seCmtBtn" se="{{seData.pk}}"><i class="fa fa-check-circle "></i> Add Comment</button>
								</div>
							</div>
						</div>
						{% if seData.grade1 %}
						<div class="row-fluid unitblock">
							<div class="span12">
								<p>Grade1: {{seData.grade1}}</p>
							</div>
							<div class="span2 offset10">
								<button class="btn btn-mini cmntmini"><i class="fa fa-comments"></i> Comment</button>
							</div>
							<div class="row-fluid">
								<div class="span12  comments">
									<textarea class="span12 setypeCmt"  style="height:105px;">{% for comment in seData.grade1.sideeffecttypecomment_set.all %}{{comment.comment}}{% endfor %}</textarea>
									<button class="btn  cmtbtn pull-right btn-info btn-small setypeCmtBtn" type="{{seData.grade1.pk}}"><i class="fa fa-check-circle "></i> Add Comment</button>
								</div>
							</div>
						</div>
						{% endif %}
						{% if seData.grade2 %}
						<div class="row-fluid unitblock">
							<div class="span12">
								<p>Grade2: {{seData.grade2}}</p>
							</div>
							<div class="span2 offset10">
								<button class="btn btn-mini cmntmini"><i class="fa fa-comments"></i> Comment</button>
							</div>
							<div class="row-fluid">
								<div class="span12  comments">
									<textarea class="span12 setypeCmt"  style="height:105px;">{% for comment in seData.grade2.sideeffecttypecomment_set.all %}{{comment.comment}}{% endfor %}</textarea>
									<button class="btn  cmtbtn pull-right btn-info btn-small setypeCmtBtn" type="{{seData.grade2.pk}}"><i class="fa fa-check-circle "></i> Add Comment</button>
								</div>
							</div>
						</div>
						{% endif %}
						{% if seData.grade3 %}
						<div class="row-fluid unitblock">
							<div class="span12">
								<p>Grade3: {{seData.grade3}}</p>
							</div>
							<div class="span2 offset10">
								<button class="btn btn-mini cmntmini"><i class="fa fa-comments"></i> Comment</button>
							</div>
							<div class="row-fluid">
								<div class="span12  comments">
									<textarea class="span12 setypeCmt"  style="height:105px;">{% for comment in seData.grade3.sideeffecttypecomment_set.all %}{{comment.comment}}{% endfor %}</textarea>
									<button class="btn  cmtbtn pull-right btn-info btn-small setypeCmtBtn" type="{{seData.grade3.pk}}"><i class="fa fa-check-circle "></i> Add Comment</button>
								</div>
							</div>
						</div>
						{% endif %}
						{% if seData.grade4 %}
						<div class="row-fluid unitblock">
							<div class="span12">
								<p>Grade4: {{seData.grade4}}</p>
							</div>
							<div class="span2 offset10">
								<button class="btn btn-mini cmntmini"><i class="fa fa-comments"></i> Comment</button>
							</div>
							<div class="row-fluid">
								<div class="span12  comments">
									<textarea class="span12 setypeCmt"  style="height:105px;">{% for comment in seData.grade4.sideeffecttypecomment_set.all %}{{comment.comment}}{% endfor %}</textarea>
									<button class="btn  cmtbtn pull-right btn-info btn-small setypeCmtBtn" type="{{seData.grade4.pk}}"><i class="fa fa-check-circle "></i> Add Comment</button>
								</div>
							</div>
						</div>
						{% endif %}

						{% autoescape off %}
						{% for wiki in seData.sideeffectwiki_set.all %}					
								<div class="row-fluid unitblock">
									<div class="span12">
										<p>{{wiki.wiki}}</p>
									</div>
									<div class="span2 offset10">
										<button class="btn btn-mini cmntmini"><i class="fa fa-comments"></i> Comment</button>
									</div>
									<div class="row-fluid">
										<div class="span12  comments">
											<textarea class="span12 sewikiCmt"  style="height:105px;">{% for comment in wiki.sideeffectwikicomment_set.all %}{{comment.comment}}{% endfor %}</textarea>
											<button class="btn  cmtbtn pull-right btn-info btn-small sewikiCmtBtn" wiki="{{wiki.id}}"><i class="fa fa-check-circle "></i> Add Comment</button>
										</div>
									</div>
								</div>							
							{% empty %}
							<div class="alert alert-info">No Wiki Added.</div>
							{% endfor %}
							{% endautoescape %}

							<hr>
							{% empty %}
							<div class="alert alert-info">No Sideffects added.</div>
							<hr>
							{% endfor %}

							{% autoescape off %}
							<div class="row-fluid ">
								<div class="span12"> 
									<h5>Treatment Physician Wiki</h5>
									{% if treatment.getPhysicianWiki %}
                      {{treatment.getPhysicianWiki}}     
                  {% else %}
                      <div class="alert alert-info">No Wiki added.</div>
                  {% endif %}   
									
								</div>
							</div>
							
							<div class="row-fluid ">
								<div class="span12"> 
									<h5>Treatment Patient Wiki</h5>
									{% if treatment.getPatientWiki %}
                      {{treatment.getPatientWiki}}     
                  {% else %}
                      <div class="alert alert-info">No Wiki added.</div>
                  {% endif %}   
									
								</div>
							</div>
							{% endautoescape %}

							<div class="row-fluid ">
								{% if treatment.getPatientWiki %}
										
									<div class="row-fluid unitblock">
										<div class="span2 offset10">
											<button class="btn btn-mini cmntmini"><i class="fa fa-comments"></i> Comment</button>
										</div>
										<div class="row-fluid">
											<div class="span12  comments">
												<textarea class="span12 twikiCmt"  style="height:105px;">{% for comment in treatment.getWikiId.treatmentwikicomment_set.all %}{{comment.comment}}{% endfor %}</textarea>
												<button class="btn  cmtbtn pull-right btn-info btn-small twikiCmtBtn" wiki="{{treatment.getWikiId.id}}"><i class="fa fa-check-circle "></i> Add Comment</button>
											</div>
										</div>
									</div>
								{% endif %}
							</div>
						</div>
						<div class="span2 ">
							
						</div>
					</div>

				</div>
			</div>
	</div>
	{% endblock %}	 
	{% block bottomScripts %}
	<script>
	$(document).ready(function(){
		$(".comments").css("display","none");
	});
	$(".cmntmini").click(function(){
		$(this).parents(".unitblock").find(".comments").slideToggle();
	});
	$('.drugCmtBtn').click(function(e) {
		e.preventDefault();
		var btn = $(this);
		var comment = $(this).parents(".unitblock").find(".drugCmt").val();
		var drug = $(this).attr('drug');
		$.post("/pharmacist/drug/comment/", { csrfmiddlewaretoken: '{{csrf_token}}', comment : comment, drug : drug})
		.done(function(data){
			if (data === 'comment'){
				bootbox.alert('Bitte geben Sie die Kommentar!');
				return;
			}
			if (data === 'error'){
				bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
				return;
			}
			bootbox.alert("Kommentar wurde erfolgreich gespeichert! <img src='{{STATIC_URL}}img/accept.png' alt=''>");
			btn.parents(".unitblock").find(".comments").slideToggle();
		})
		.fail(function(){
			bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
		});
	});

	$('.seCmtBtn').click(function(e) {
		e.preventDefault();
		var btn = $(this);
		var comment = $(this).parents(".unitblock").find(".seCmt").val();
		var se = $(this).attr('se');
		$.post("/pharmacist/sideeffect/comment/", { csrfmiddlewaretoken: '{{csrf_token}}', comment : comment, se : se})
		.done(function(data){
			if (data === 'comment'){
				bootbox.alert('Bitte geben Sie die Kommentar!');
				return;
			}
			if (data === 'error'){
				bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
				return;
			}
			bootbox.alert("Kommentar wurde erfolgreich gespeichert! <img src='{{STATIC_URL}}img/accept.png' alt=''>");
			btn.parents(".unitblock").find(".comments").slideToggle();
		})
		.fail(function(){
			bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
		});
	});

	$('.twikiCmtBtn').click(function(e) {
		e.preventDefault();
		var btn = $(this);
		var comment = $(this).parents(".unitblock").find(".twikiCmt").val();
		var twiki = $(this).attr('wiki');
		$.post("/pharmacist/treatmentwiki/comment/", { csrfmiddlewaretoken: '{{csrf_token}}', comment : comment, twiki : twiki})
		.done(function(data){
			if (data === 'comment'){
				bootbox.alert('Bitte geben Sie die Kommentar!');
				return;
			}
			if (data === 'error'){
				bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
				return;
			}
			bootbox.alert("Kommentar wurde erfolgreich gespeichert! <img src='{{STATIC_URL}}img/accept.png' alt=''>");
			btn.parents(".unitblock").find(".comments").slideToggle();
		})
		.fail(function(){
			bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
		});
	});

	$('.sewikiCmtBtn').click(function(e) {
		e.preventDefault();
		var btn = $(this);
		var comment = $(this).parents(".unitblock").find(".sewikiCmt").val();
		var sewiki = $(this).attr('wiki');
		$.post("/pharmacist/sideeffectwiki/comment/", { csrfmiddlewaretoken: '{{csrf_token}}', comment : comment, sewiki : sewiki})
		.done(function(data){
			if (data === 'comment'){
				bootbox.alert('Bitte geben Sie die Kommentar!');
				return;
			}
			if (data === 'error'){
				bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
				return;
			}
			bootbox.alert("Kommentar wurde erfolgreich gespeichert! <img src='{{STATIC_URL}}img/accept.png' alt=''>");
			btn.parents(".unitblock").find(".comments").slideToggle();
		})
		.fail(function(){
			bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
		});
	});

	$('.setypeCmtBtn').click(function(e) {
		e.preventDefault();
		var btn = $(this);
		var comment = $(this).parents(".unitblock").find(".setypeCmt").val();
		var setype = $(this).attr('type');
		$.post("/pharmacist/sideeffecttype/comment/", { csrfmiddlewaretoken: '{{csrf_token}}', comment : comment, setype : setype})
		.done(function(data){
			if (data === 'comment'){
				bootbox.alert('Bitte geben Sie die Kommentar!');
				return;
			}
			if (data === 'error'){
				bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
				return;
			}
			bootbox.alert("Kommentar wurde erfolgreich gespeichert! <img src='{{STATIC_URL}}img/accept.png' alt=''>");
			btn.parents(".unitblock").find(".comments").slideToggle();
		})
		.fail(function(){
			bootbox.alert("Ein Fehler ist aufgetreten, versuchen Sie es! <img src='{{STATIC_URL}}img/delete.png' alt=''>");
		});
	});
	</script>
	{% endblock %}