<div style="background-color:#D0E0EB;width:100%;color: #004574; font-family: 'Asap', sans-serif; ">
<h3 style=" background-color:#F7F7F7; height:50px;  width:auto;  line-height: 54px; vertical-align:middle; padding: 5px 0px 5px 18px;font-family: 'Asap', sans-serif;color: #49708A;font-weight: bold;"> <img height="48px" style="height:48px;float:left; " src="//pt-conkado.rhcloud.com/static/img/logo.png"> Cankado</h3>
<div style="width:80%;padding-top:30px; padding-left:50px;">
   Welcome {{lName}}, {{fName}}<br><br>
   Your new patient's account is active.<br>
   You can login using your as User Id or Last name as User name.<br>
   User Id : {{username}}
   Password : {{password}}<br>
   <br>
Thank You<br>
<br>
NB: This mail was sent automatically from Cankado.com. Please don't reply to this mail.<br>
<br>

</div>
<hr style="background-color:white;color:white;"></hr>
<h4 style="text-align:left;height:40px;width:auto;line-height:40px;vertical-align:middle;margin-bottom:30px;font-weight:lighter;padding-left:50px;">//pt-conkado.rhcloud.com/</h4>
</div>
